.main-container{
    max-width: 1805px;
    margin: 30px auto;
    .videos-container{
        padding-bottom: 30px;
        .list-title{
            font-size: 1.6em;
            margin-bottom: 10px;
        }
    }
}

