.paginator-box{
    display: flex;
    justify-content: center;
    .page{
        border: 1px solid #353535;
        border-radius: 2px;
        background-color: #26242b;
        font-size: 1.5em;
        padding: 0.05em 0.3em;
        margin: 0.2em;
    }
}