@import '../../../variables.scss';

.paginator-box{
    display: flex;
    justify-content: center;
    cursor: pointer;
    a{
        text-decoration: none;
        color: #FFF;
    }
    .page{
        border: 1px solid $mainLight;
        border-radius: 2px;
        background-color: $main;
        font-size: 1.5em;
        padding: 0.05em 0.3em;
        margin: 0.2em;
    }
    .page:not(.activated):hover{
        background-color: $mainLight;
    }
    .activated{
        background-color: $mainLighter;
        border: 1px solid $mainLighter;
    }
}