@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Arial, sans-serif ;
  color: #fff;
  background: $main;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

input, textarea, button{
  background-color: $mainDark;
  border: 1px solid $mainLight;
  border-radius: 2px;
  color: #cacaca;
  font-size: 18px;
  padding: 3px 6px;
}

button, input[type=submit]{
  color: #FFF;
  background-color: $main;
  border: 1px solid $mainLight;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover, input[type=submit]:hover{
  background-color: $mainDark;
}

button:active, input[type=submit]:active{
  background-color: $mainLight;
}

::placeholder {
  font-style: italic;
  opacity: 0.7;
}

.wrapper{
  position: relative;
  z-index: 1;
  width: 100%;
}

ul{
  list-style-type: none;
}