$main: #26242b;
$mainDark: #252427;
$mainDarker: #1e1e1f;
$mainLight: #353535;
$mainLighter: #424242;

$side: #820e0e;
$sideDark: #751010;
$sideDarker: #5f1111;
$sideLight: #901414;
$sideLighter: #a22020;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Arial, sans-serif ;
  color: #fff;
  background: $main;
  -webkit-font-smoothing: antialiased;
}

input, textarea, button{
  background-color: $mainDark;
  border: 1px solid $mainLight;
  border-radius: 2px;
  color: #cacaca;
  font-size: 18px;
  padding: 3px 6px;
}

button, input[type=submit]{
  color: #FFF;
  background-color: $side;
  border: 1px solid $side;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover, input[type=submit]:hover{
  background-color: $sideDark;
}

button:active, input[type=submit]:active{
  background-color: $sideLight;
}

::placeholder {
  font-style: italic;
  opacity: 0.7;
}

.wrapper{
  position: relative;
  z-index: 1;
  width: 100%;
}